    @model _1._3.Models.Ogrenci    
        
    @{    
        ViewData["Title"] = "Düzenle";    
    }    
    <h2>Edit</h2>    
    <h4>Düzenle</h4>    
    <hr />    
    <div class="row">    
        <div class="col-md-4">    
            <form asp-action="Edit">    
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
                <input type="hidden" asp-for="ogrenci_no" />    
                <div class="form-group">    
                    <label asp-for="ogrenci_ad" class="control-label"></label>    
                    <input asp-doyfor="ogrenci_ad" class="form-control" />    
                    <span asp-validation-for="ogrenci_ad" class="text-danger"></span>    
                </div>    
                <div class="form-group">    
                    <label asp-for="ogrenci_soyad" class="control-label"></label>    
                    <input asp-for="ogrenci_soyad" class="form-control" />    
                    <span asp-validation-for="ogrenci_soyad" class="text-danger"></span>    
                </div>                
                <div class="form-group">    
                    <input type="submit" value="Save" class="btn btn-default" />    
                </div>    
            </form>    
        </div>    
    </div>    
    <div>    
        <a asp-action="Index">Back to List</a>    
    </div>    
    @section Scripts {    
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
    }