<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from razonartificial.com/themes/reason/v1.6/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 30 Jun 2017 11:39:57 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="~/img/favicon.png" />

    <meta name="description" content="">

    <!-- CSS -->
    <link href="~/css/preload.css" rel="stylesheet">
    <link href="~/css/vendors.css" rel="stylesheet">
    <link href="~/css/syntaxhighlighter/shCore.css" rel="stylesheet" >

    <link href="~/css/style-blue.css" rel="stylesheet" title="default">
    <link href="~/css/width-full.css" rel="stylesheet" title="default">
</head>



<body>
<div class="sb-site-container">
<div class="boxed">


    <!-- Üst kısım Logo - Öğrenci Bilgi Sistemi Cart Curt -->
<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="index-2.html">artificial <span>reason</span></a></h1>
            <p class="animated fadeInRight">Clean and elegant theme</p>
        </div>
    </div> 
</header> <!-- BİTİŞ YERİ -->










<!-- ÜST MENÜ BAŞLANGIÇ YERİ -->

<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index-2.html">Artificial <span>Reason</span></a>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=""></i> GİRİŞ </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-login-box animated flipCenter">
                    <form role="form">
                    </br>
                        <div class="form-group">
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Öğrenci Numaranız">
                            </div>
                            <br>
                            <div class="input-group login-input">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Şifreniz">
                            </div>
                            <div class="checkbox pull-left" style= "color:black">
                                  <input type="checkbox" id="checkbox_remember1">
                                  <label for="checkbox_remember1">
                                     Beni Hatırla
                                  </label>
                            </div>
                            <button class="btn btn-ar btn-primary pull-right" onclick="location.href='Ogrenci/Profil'" type="button">Giriş Yap</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                </li>
                <li class="">
                    <a href="#">ANASAYFA</a>
                </li>
                <li class="">
                    <a href="#">DUYURULAR</a>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div>
</nav><!-- ÜST MENÜ BİTİŞ YERİ -->








<section class="wrap-hero margin-bottom">
    <div id="carousel-example-ny" class="carousel carousel-hero slide" data-ride="carousel" data-interval="9000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-ny" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-ny" data-slide-to="1"></li>
            <li data-target="#carousel-example-ny" data-slide-to="2"></li>
        </ol>

        <!-- SLIDER BAŞLANGIÇ YERİ -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="~/img/demo/mockup2.png" alt="" class="img-responsive animated zoomInUp animation-delay-30">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                               <h1>Sol taraf Yazıları</h1>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> <!-- 1. SLIDER BİTİŞ -->

            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object">

                                <img src="~/img/demo/wire1.png" class="img-responsive base animated animated-slow reveal animation-delay-25" alt="Image">
                                <img src="~/img/demo/wire1.png" class="img-responsive relative animated animated-slow reveal animation-delay-25" alt="Image">
                                <img src="~/img/demo/wire1shadow.png" class="img-responsive relative animated fadeIn animation-delay-40" alt="Image">
                                <img src="~/img/demo/wire1capture.png" class="img-responsive relative animated fadeIn animation-delay-45" alt="Image">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1>Sol Taraf</h1>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> <!-- 2. SLIDER BİTİŞ -->

            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="~/img/demo/mockup3.png" alt="" class="img-responsive animated zoomInRight animation-delay-30">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1>Sol Taraf</h1>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> <!-- 3. SLIDER BİTİŞ -->
        </div> <!-- SLIDER BİTİŞ YERİ -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-ny" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-ny" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section> 
















<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Önemli Linkler ve Duyurular</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Cloud Computing</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Web Design and SEO</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Mobile and Tablet Apps</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Wordpress Themes</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Training and development</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Customer service</h3>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>

    
</div> <!-- container -->






<div class="container">
    <section class="css-section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">SİTE GİRİŞ - ÇIKIŞ İNDİRME VS VERİLERİN TUTULDUĞU YER</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-2">
                    <h4 id="count-coffees" class="content-box-title counter">450</h4>
                    <i class="fa fa-4x fa-coffee primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">cups of coffee</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-4">
                    <h4 id="count-coffees" class="content-box-title counter">64</h4>
                    <i class="fa fa-4x fa-briefcase primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">projects done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-6">
                    <h4 id="count-coffees" class="content-box-title counter">600</h4>
                    <i class="fa fa-4x fa-comments-o primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">comments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-8">
                    <h4 id="count-coffees" class="content-box-title counter">3500</h4>
                    <i class="fa fa-4x fa-group primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">happy clients</p>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->




<!-- FOOTER KISMI BAŞLANGIÇ YERİ -->

<footer id="footer">
    <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<script src="assets/js/vendors.js"></script>

<script src="assets/js/styleswitcher.js"></script>
<script src="assets/js/syntaxhighlighter/shCore.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
<script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="assets/js/DropdownHover.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/home_info.js"></script>
</body>
</html>